.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background: linear-gradient(to top, #f2a02d, #e0321c);
  height: 70px;
  border-bottom: 1px solid white;
}

.navbarLink {
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.navbarLeftSection {
  width: 200px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.logo {
  scale: 0.6;
  margin-top: 28px;
  margin-left: -40px;
}

.logoText {
  font-family: "Great Vibes";
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  margin-left: 88px;
  margin-top: 42px;
  scale: 1.1;
  line-height: 1.5;
  background: linear-gradient(rgb(255, 255, 255), #3ec8fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logoTextSmall {
  font-family: "Dorsa";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  margin-left: 140px;
  margin-top: 62px;
  scale: 1;
  line-height: 1;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbarCenterSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.navbarRightSection {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
}
